
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-clr: #E9ECEF;
  --nav-clr: #6f7bf7;
  --pulse-clr: #faae7b;
  --violet: #7700ffff;
  --maroon: #bb3c80ff;
  --orange: #ff7700ff;

  --gradient: linear-gradient(
    135deg,
    #8a2387,
    #b65eba,
    #2e8de1
  );

  --nav-pad: -1rem;
}

body {
  margin: 0;
  padding: 0;
  user-select: none;
  background-color: var(--bg-clr);

  display: grid;
  grid-template-rows: 100vh 600px minmax(700px, max-content) 80vh 20vh;
  grid-template-areas:
  "intro"
  "about"
  "portfolio"
  "contact"
  "footer";
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
}

/* ----- Fonts ----- */
body {font-family: 'Gafata', sans-serif;}
.intro {font-family: 'Open Sans', sans-serif;}
.contact-title {font-family: 'Catamaran', sans-serif;}

/* Scroll Bar */
body::-webkit-scrollbar {
  width: .6em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgba(80, 58, 80, 0.301);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* ----- Navbar ----- */
/* ------------------ */
.navbar {
  font-family: 'Assistant', sans-serif;
  grid-area: intro;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0;
  background-color: var(--bg-clr);
  /* opacity: 0; */
  z-index: 10;
  transition: opacity 250ms ease;
}

/* .navbar:hover {
  opacity: 1;
} */

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 1rem 0;
  justify-content: center;
  align-items: center;
}

.nav-items {
  font-size: 1em;
  margin: 0;
  padding: 0 calc(0.4rem + 2vw);
  position: relative;
}

.nav-items::before {
  content: '';
  display: block;
  position: absolute;
  top: var(--nav-pad);
  left: 0;
  width: 100%;
  height: 0.25em;
  background-color: var(--nav-clr);
  border-radius: 1px;
  transform: scale(.1, .9);
  opacity: 0;
  transition: transform 0.2s ease-in;
}

.nav-items::after {
  content: '';
  display: block;
  position: absolute;
  top: calc(-1rem + .25em);
  bottom: calc(var(--nav-pad) + .25em);
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, .05);
  border-radius: 0 0 .5em .5em;
  transform: scale(.9, .1);
  opacity: 0;
  z-index: -1;
}

.nav-items:hover::before,
.nav-items:hover::after {
  transition: 
    transform 200ms ease-in,
    opacity 200ms ease-in;
  transform: scale(.7, 1);
  opacity: 1;
}


/* ----- intro ----- */
/* ----------------- */
.intro {
  grid-area: intro;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.head span {
  display: block;
}

.head {
  margin: 0;
  padding: 0;
  font-size: 2.5em;
  font-weight: 900;
  background-image: var(--gradient);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  background-size: 400%;
  -webkit-animation: intro-text-animation 3s infinite alternate;
          animation: intro-text-animation 3s infinite alternate;
}

@keyframes intro-text-animation {
  0% {background-position: left;}
  100% {background-position: right;}
}

.head::before,
.head::after {
  content: '';
  display: block;
}

.head::before {
  height: calc(15rem + 10vw);
  width: calc(15rem + 10vw);
  background: linear-gradient(
    45deg, transparent, var(--pulse-clr));
  border-radius: 50%;
  position: absolute;
  top: calc(50vh - 5vw - 7.5rem); 
  left: calc(50vw - 5vw - 7.5rem); ;
  z-index: -1;
  animation: intro-text-before 10s infinite alternate;
  animation-timing-function: ease;
}

@media only screen and (min-width:375px) {
  @keyframes intro-text-before {
    0% {transform: scale(1);}
    100% {transform: scale(1.3);}
  }
}

@media only screen and (max-width:375px) {
  @keyframes intro-text-before {
    0% {transform: scale(1);}
    100% {transform: scale(1.1);}
  }
}

.sub-head {
  margin-top: .8em;
  text-align: center;
  font-size: 1.4em;
  font-weight: 700;
  letter-spacing: .1em;
  color: #234;
  font-family: 'Assistant', sans-serif;
}

.fragments {
  fill: var(--nav-clr);
  position: absolute;
  height: 19px;
  width: 19px;
}

.frg1 {
  top: 10vh;
  left: 10vw;
  transition: 
  top 1s ease-out,
  left 1s ease-out;
}

.frg2 {
  top: 10vh;
  left: calc(90vw - 19px);
  transition: 
  top 1.1s ease-out,
  left 1.1s ease-out;
}

.frg3 {
  top: 90vh;
  left: calc(90vw - 19px);
  transition: 
  top 1.2s ease-out,
  left 1.2s ease-out;
}

.frg4 {
  top: 90vh;
  left: 10vw;
  transition: 
  top 1.3s ease-out,
  left 1.3s ease-out;
}

.head:hover ~ .frg1{
  top: 65vh;
  left: 40vw;
}

.head:hover ~ .frg2{
  top: 65vh;
  left: 46.66vw;
}

.head:hover ~ .frg3{
  top: 65vh;
  left: 53.33vw;
}

.head:hover ~ .frg4{
  top: 65vh;
  left: 60vw;
}


/* ----- About me ----- */
/* -------------------- */
.about-me {
  grid-area: about;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 20vh;
  width: 90%;
  max-width: 700px;
}

.center-card {
  order: 2;
  color: var(--violet);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
  margin: 0;
  position: relative;
}

.center-card::before {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  top: -200px;
  border: 3px dashed rgba(150, 150, 150, 0.5);
  border-radius: 50%;
  transition: opacity 3s ease;
  transition-delay: .5s;
}

.center-card::after {
  content: '';
  height: 3px;
  width: 90%;
  max-width: 700px;
  position: absolute;
  top: 63px;
  border-top: 3px dashed rgba(150, 150, 150, 0.5);
  opacity: 1;
  transition: opacity 3s ease;
  transition-delay: .5s;
}

.top-card {
  order: 1;
  background-color: var(--nav-clr);
  height: 200px;
  width: 200px;
  background-image: url(img/profile.png);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  position: relative;
  transform-origin: bottom;
  transition: transform 2.5s ease;
  transform: rotateX(90deg);
  transition-delay: .5s;
  transform-style: preserve-3d;
}

.top-card::after {
  content: '';
  position: absolute;
  top: 1em;
  left: 1em;
  right: 1em;
  bottom: 1em;
  border: 3px solid #333;
  border-radius: 50%;
  transform: translateZ(2em);
}

.bottom-card {
  order: 3;
  height: 40vh;
  max-height: 220px;
  font-size: 1em;
  line-height: 1.4;
  padding: 1.5em;
  background-color: white;
  transform-origin: top;
  transition: transform 2.5s ease;
  transform: rotateX(-90deg);
  transition-delay: .5s;
  transform-style: preserve-3d;
}

.bottom-card::after {
  content: '';
  position: absolute;
  top: 1em;
  left: 1em;
  right: 1em;
  bottom: 1em;
  border:3px solid var(--maroon);
  transform: translateZ(3em);
}

.top-card:hover,
.bottom-card:hover,
.center-card:hover ~ .bottom-card,
.center-card:hover ~ .top-card {
  transform: none;
  transition: transform 2s;
}

.center-card:hover::before,
.center-card:hover::after {
  transition: opacity 2s ease;
  opacity: 0;
}


/* ----- Portfolio ----- */
/* -------------------- */
.portfolio {
  grid-area: portfolio;
  display: grid;
  grid-gap: 1.5em;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-auto-rows: 260px;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  max-width: 700px;
  width: 90vw;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 80px;
  padding-top: 80px;
}

.portfolio-header {
  position: absolute;
  top: 0;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: var(--violet);
}

.project-tile {
  border: 3px dashed gray;
  position: relative;
  width: 100%;
  height: 100%;
}

.front-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 20px rgb(204, 204, 204);
  z-index: 1;
}

.project-title {
  padding-left: .5em;
}

.back-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 
    opacity 250ms cubic-bezier(0, 0.8, 0.43, 1),
    transform 250ms cubic-bezier(0, 0.8, 0.43, 1);
  box-shadow: 2px 5px 30px rgb(158, 158, 158);
  background-color: var(--nav-clr);
  position: relative;
  z-index: 2;
}

.project-name {
  color: black;
  font-size: 1.1em;
  text-align: center;
  margin: 0;
  padding: 1em;
}

.thumbnail {
  width: 150px;
  height: 150px;
  margin: 0;
  border-radius: 5px;
}

.click-project {
  font-size: .8em;
  text-align: center;
  color: var(--bg-clr);
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.project-tile:hover .front-card {
  opacity: 0;
}

.project-tile:hover .back-card {
  transform: translate(-1em, -1em);
  opacity: 1;
}

/* ----- contact ----- */
/* ------------------ */
.contact {
  grid-area: contact;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 1em 2em;
  width: 100%;
  position: relative;
}

.contact-header {
  flex-basis: 300px;
  flex-grow: 0;
  padding-bottom: 3em;
}

.contact-title {
  font-size: 4vmin;
  color: var(--maroon);
  margin-bottom: 4px;
}

.contact-header p {
  font-size: 3vmin;
  margin-top: 0;
  color: rgba(0, 0, 0, .9);
}

.contact-title::before,
.contact-title::after {
  content: '';
  display: block;
  position: absolute;
  height: 5%;
}

.contact-title::before {
  background-color: #234;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.contact-title::after {
  background-color: var(--maroon);
  width: 100%;
  top: 2.5%;
  left: 0;
  right: 0;
  z-index: -2;

}

.contact-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 300px;
  flex-grow: 1;
  max-width: 500px;
}

.contact-details {
  margin: 1em 1em;
  font-size: 3vmin;
  transition: transform 0.3s ease-out;
}

.contact .fab,
.contact .fas {
  padding-right: .5em;
  font-size: 4vmin;
  transform: scale(1);
  transition: 
  transform 200ms ease,
  color 250ms ease;
}

.contact-details:hover .fab,
.contact-details:hover .fas {
  transform: scale(1.1);
  color: var(--orange);
}

.contact-details::after {
  content: '';
  display: block;
  height: 2px;
  width: 100%;
  margin-top: 5px;
  background-color: var(--maroon);
  transform-origin: right;
  transform: scaleX(0.03);
  opacity: 0;
  transition: 
  opacity 800ms ease,
  transform 300ms ease;
}

.contact-details:hover::after {
  opacity: 1;
  transform: scaleX(1);
  transform-origin: left;
  transition: 
  opacity 300ms ease,
  transform 300ms ease;
}


/* ----- footer ----- */
/* ------------------ */
footer {
  grid-area: footer;
  background-color: #234;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  color: aliceblue;
  border-top: 15px solid var(--maroon);
  margin-bottom: 0;
}

.fa-laptop-code {
  font-size: 0.9em;
  margin-left: 5px;
  color: var(--maroon);
}
